# Dependencies
node_modules
npm-debug.log*

# Build
dist/

# Environment variables
.env
.env.*
*.env

# Logs
logs
*.log

# NPM
*.tgz

# IDE/Editor folders
.vscode/
.idea/
*.sublime-*
.DS_Store

.cursor
# dist
.env.local
.env.development.local
.env.test.local
.env.production.local
examples
extra
old_code
src-copy
